{
  "openapi": "3.0.1",
  "info": {
    "title": "FastConnect API",
    "version": "v1"
  },
  "servers" : [ {
    "url" : "https://fc-data.ssi.com.vn/api/v2/Market/",
    "description" : "API FastConnect Data"
  } ],
  "paths": {
    "AccessToken": {
      "post": {
        "tags": [
          "Authen"
        ],
		"summary": "Lấy Token",
        "description": "Bạn cần tạo 1 Token để truy cập với ConsumerID và ConsumerSecret được lấy từ màn hình DỊCH VỤ API trên màn hình iBoard",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "Securities": {
      "get": {
        "tags": [
          "MarketV2"
        ],
		"summary": "Securities",
		"description": "API trả thông tin các mã chứng khoán thuộc sàn truy vấn",
        "parameters": [
          {
            "name": "Market",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "SecuritiesDetails": {
      "get": {
        "tags": [
          "MarketV2"
        ],
		"summary": "SecuritiesDetails",
		"description": "API trả ra thông tin chi tiết mã chứng khoán ",
        "parameters": [
          {
            "name": "Market",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "DailyOhlc": {
      "get": {
        "tags": [
          "MarketV2"
        ],
		 "summary": "DailyOhlc",
		"description": "API trả thông tin giá OHLC quá khứ theo mã chứng khoán ",
        "parameters": [
          {
            "name": "Symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FromDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ToDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Ascending",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "DailyIndex": {
      "get": {
        "tags": [
          "MarketV2"
        ],
		"summary": "DailyIndex",
		"description": "API truy vấn dữ liệu Index quá khứ",
        "parameters": [
          {
            "name": "IndexId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FromDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ToDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Ascending",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "IndexList": {
      "get": {
        "tags": [
          "MarketV2"
        ],
		"summary": "IndexList",
		"description": "API trả ra danh sách mã index",
        "parameters": [
          {
            "name": "Exchange",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "IndexComponents": {
      "get": {
        "tags": [
          "MarketV2"
        ],
		"summary": "IndexComponents",
		"description": "API trả ra thông tin các mã thuộc Index",
        "parameters": [
          {
            "name": "IndexCode",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "IntradayOhlc": {
      "get": {
        "tags": [
          "MarketV2"
        ],
		"summary": "IntradayOhlc",
		"description": "API trả ra giá trị realtime OHLC trong ngày",
        "parameters": [
          {
            "name": "Symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FromDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ToDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Resolution",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Ascending",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    },
    "DailyStockPrice": {
      "get": {
        "tags": [
          "MarketV2"
        ],
		"summary": "DailyStockPrice",
		"description": "API trả thông tin giá quá khứ của mã chứng khoán",
        "parameters": [
          {
            "name": "Symbol",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "FromDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "ToDate",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "PageIndex",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "PageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          },
          {
            "name": "Market",
            "in": "query",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "AccessTokenRequest": {
        "type": "object",
        "properties": {
          "consumerID": {
            "type": "string",
            "nullable": true
          },
          "consumerSecret": {
            "type": "string",
            "nullable": true
          }
        },
        "additionalProperties": false
      }
    },
    "securitySchemes": {
      "Bearer": {
        "type": "http",
        "description": "Please enter a valid token",
        "scheme": "Bearer",
        "bearerFormat": "JWT"
      }
    }
  },
  "security": [
    {
      "Bearer": [ ]
    }
  ]
}